<app-header class="lg:hidden"></app-header>
<main class="grid grid-cols-12">
    <div class="col-span-12 lg:col-span-3 z-10">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-span-12 lg:col-span-9">
        <section class="h-screen grid grid-cols-1 lg:grid-cols-2 p-8">
            <div class="p-4">
                <img ngSrc="assets/images/logo/logo.svg" width="500" height="500" priority>
            </div>
            <div class="flex flex-col justify-center gap-4">
                <h1 class="text-6xl">
                    {{heroText}}
                </h1>
                <p>
                    {{description}}
                </p>
            </div>
        </section>
    </div>
</main>