<header class="flex items-center md:justify-between px-8 py-4 gap-8">
  <div (click)="openMenu()" class="md:hidden p-2 rounded-full hover:bg-slate-50">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>
  </div>
  <div>
    <h3 class="text-3xl font-bold font-[instruction]">AlphaRuler</h3>
  </div>
  <nav class="hidden md:block">
    <ul class="flex gap-4">
        <li class="cursor-pointer px-4 py-2 text-center rounded-lg hover:bg-slate-100" *ngFor="let menu of menuList" [routerLink]="menu.path" [routerLinkActive]="['bg-slate-50']" [routerLinkActiveOptions]="{exact: true}">{{menu.name}}</li>
    </ul>
  </nav>
</header>

<!-- Mobile menu -->
<div
  class="md:hidden fixed top-0 left-0 right-0 bottom-0 bg-black/25 backdrop-blur p-4"
  [ngClass]="mobileMenuClasses"
>
  <div class="w-full h-full bg-white rounded-lg shadow relative p-8">
    <div (click)="closeMenu()" class="absolute top-4 right-4 rounded-full p-2 hover:bg-slate-50">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
    </div>
    <div class="p-8">
        <ul>
            <li class="cursor-pointer px-4 py-2 text-center rounded-lg hover:bg-slate-100" *ngFor="let menu of menuList" [routerLink]="menu.path" [routerLinkActive]="['bg-slate-50']" [routerLinkActiveOptions]="{exact: true}">{{menu.name}}</li>
        </ul>
    </div>
  </div>
</div>
