@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ibm;
    src: url('./assets/fonts/IBMPlexSansThai-Regular.ttf');
}

@font-face {
    font-family: instruction;
    src: url('./assets/fonts/Instruction.otf');
}

body {
    font-family: ibm;
}